<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

        <title>Teste</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style/style.css"/>
    </head>
    <body>
        <header>
            <nav class="menu blue darken-3">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Biblioteca</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/livros">Livros</a></li>
                        <li><a href="/autores">Autores</a></li>
                        <li><a href="/assuntos">Assuntos</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container">
            <section id="listaLivros">
                <div class="space-between">
                    <h2>Lista de Livros</h2>
                    <!-- Botão para gerar o PDF -->
                    <a href="/relatorios/gerar-pdf" class="btn btn-primary">Gerar Relatório PDF</a>
                    <a href="/cadastrarLivro" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">add_circle_outline</i>Cadastrar Livro</a>
                </div>

                <table >
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Editora</th>
                            <th>Edição</th>
                            <th>Ano de Publicação</th>
                            <th>Valor</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="livro : ${livros}">
                            <td><a th:href="${(#mvc.url('LC#editarLivro').arg(0, livro.codL)).build()}"><span th:text="${livro.titulo}"></span></a></td>
                            <td><span th:text="${livro.editora}"></span></td>
                            <td><span th:text="${livro.edicao}"></span></td>
                            <td><span th:text="${livro.anoPublicacao}"></span></td>
                            <td><span class="valor" th:text="${livro.valor}"></span></td>
                            <td><!-- Botão de editar -->
                                <a th:href="@{/livros/editar/{codigoLivro}(codigoLivro=${livro.codL})}" class="btn blue darken-3">
                                    <i class="material-icons">edit</i>
                                </a>
                                <!-- Botão de excluir -->
                                <a th:href="@{/livros/deletar/{codigoLivro}(codigoLivro=${livro.codL})}" 
                                   class="btn red darken-4" 
                                   onclick="return confirm('Tem certeza que deseja excluir este livro?');">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="materialize/js/materialize.min.js"></script>
        <script>
                                       $(document).ready(function () {
                                           // Aplica a máscara de moeda a todos os elementos com a classe 'valor'
                                           $('.valor').each(function () {
                                               var valor = $(this).text();
                                               var valorFormatado = formatarValor(valor);
                                               $(this).text(valorFormatado);
                                           });

                                           function formatarValor(valor) {
                                               valor = valor.replace(".", ",");
                                               return "R$ " + valor;
                                           }

                                       });
        </script>
    </body>
</html>
