<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

        <title>Lista de Assuntos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style/style.css"/>
    </head>
    <body>
        <header>
            <nav class="menu blue darken-3">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Biblioteca</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/livros">Livros</a></li>
                        <li><a href="/autores">Autores</a></li>
                        <li><a href="/assuntos">Assuntos</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container">
            <section id="listaAssuntos">
                <div class="space-between">
                    <h2>Lista de Assuntos</h2>
                    <a href="/cadastrarAssunto" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">add_circle_outline</i>Cadastrar Assunto</a>
                </div>

                <table >
                    <thead>
                        <tr>
                            <th>Descrição</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="assunto : ${assuntos}">
                            <td><span th:text="${assunto.descricao}"></span></td>
                            <td><!-- Botão de editar -->
                                <a th:href="@{/assuntos/editar/{codigoAssunto}(codigoAssunto=${assunto.codAs})}" class="btn blue darken-3">
                                    <i class="material-icons">edit</i>
                                </a>
                                <!-- Botão de excluir -->
                                <a th:href="@{/assuntos/deletar/{codigoAssunto}(codigoAssunto=${assunto.codAs})}" 
                                   class="btn red darken-4" 
                                   onclick="return confirm('Tem certeza que deseja excluir este Assunto?');">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>


        <script src="materialize/js/materialize.min.js"></script>
    </body>
</html>
