/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 de nov. de 2024, 15:25:41
    Author     : Murilo Schirmer
*/
.menu {
    padding-left: 12px;
    padding-right: 12px;
}

.container-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}
.form{
    width: 100%;
    padding: 24px 16px;
    border-radius: 4px;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listaLivros .space-between{
    margin-top: 32px;
}

#listaAutores .space-between{
    margin-top: 32px;
}

#listaAssuntos .space-between{
    margin-top: 32px;
}
