/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 de nov. de 2024, 15:25:41
    Author     : Murilo Schirmer
*/
.menu {
    padding-left: 12px;
    padding-right: 12px;
}

.container-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}
.form{
    width: 100%;
    padding: 24px 16px;
    border-radius: 4px;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listaLivros .space-between{
    margin-top: 32px;
}

#listaAutores .space-between{
    margin-top: 32px;
}

#listaAssuntos .space-between{
    margin-top: 32px;
}

.error-title {
    font-size: 4rem;
    color: #e53935;
    margin: 0 0 10px 0;
}

.error-subtitle{
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}

.error-message {
    font-size: 1.0rem;
    margin:0 0 20px 0;
}
.body-error{
    background-color: #f5f5f5;
    color: #424242;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.error-image {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
}

.error-field {
    border-bottom: 1px solid #721c24; /* Borda vermelha para indicar erro */
    color: #721c24; /* Cor do texto para corresponder ao estilo de erro */

}
